<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Neon Disc Warfare</title>
</head>
<body>
    <div id="num-visited"></div>
    <main>
        <div class="column">
            <div>
                <h1 class="text-flicker-in-glow">
                    Neon disc warfare
                </h1>
                <p style="font-size: 26px" id="stats">
                    <!-- Currently playing: <span class="currently-playing">[Number of players]</span> -->
                    <%= gamesInitialized %>
                    <%if (gamesInitialized != 1) { %>
                        games
                    <% } else { %>
                        game
                    <% } %>
                    started since 
                    <%= gamesSince %>
                    <br>
                    <%= currentlyPlaying %> 
                    <%if (currentlyPlaying != 1) { %>
                        games
                    <% } else { %>
                        game
                    <% } %>
                    currently being played
                    <br>
                    <%= playersInQueue %> 
                    <%if (playersInQueue != 1) { %>
                        players
                    <% } else { %>
                        player
                    <% } %>
                    in the queue
                </p>
                <br>
                <br>
                <a href="game" id="start-game">Start Game</a>
            </div>
        </div>
    </main>
    <div class="small-screen-alert">
        Your screen is too small, please use a larger screen
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="javascripts/splashScript.js"></script>
</body>
</html>