:root {
    --color-tuscan: #F7DBA7;
    --color-tumbleweed: #F1AB86;
    --color-deer: #C57B57;
    --color-green: #222;
    --color-dark-green: #111;
    --text-flicker-colour: #008cff;
    --title-purple: #b800e6;
}


/* Game screen bars on either side */
.game-screen {
    flex: 50%;
    height: 100vh;
}

.turn-switch {
    text-align: center;
    color: white;
}

.left-stat, .right-stat {
    flex: 25%;
    padding: 10px 0 77.33px 0;
    /* background-color: #222; */
    
    text-align: center;
    /* padding-top: 10vh; */

    color: white;
}

.right-stat {
    display: flex;
    flex-direction: column;
}

.right-stat .player {
    flex: 40%;
}
.right-stat .vs {
    flex: 20%;
}
.right-stat .opponent {
    flex: 40%;
}

.right-stat .player p, .right-stat .vs p, .right-stat .opponent p {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Game screen bars on either side */
.screen-grid {
    margin: 0 auto;
    height: 80vh;
    width: 93.333vh;
    /* background-color: var(--color-green); */
    background-color: rgba(30, 30, 30, 0.9);
    border: rgba(20, 20, 20, 0.7) 0.5vh solid;

    display: grid;
    grid-gap: 4vh;
    padding: 2.5vh;
    grid-template-columns: auto auto auto auto auto auto auto;
    box-shadow: 0 0 2.5vh 0 #111;
}

.grid-slot {
    /* background-color: rgb(32, 32, 32); */
    background-color: rgba(30, 30, 30, 0.7);
    border: 1px solid var(--color-dark-green);
    border-radius: 50%;

    box-shadow: inset 0px 0px 16px 0px rgba(10,10,10,0.75);
}



.header {
    display: block;
    height: calc(27.33px + 48px);
    width: 100%;
    margin: 24px 0;
}
.header > i {
    margin: 0 10px;
}

body {
    margin: 0px;
    height: 100vh;
    font-family: "Panton";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(90deg, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8)), url("../images/bg3.jpg");
}

@font-face {
    font-family: "Panton";
    src: url("fonts/Panton/PantonDemo-Light.otf");
}

button {
    background-color: #C57B57;
    color: black;
    padding: 6px;
    font-size: 18px;
    border-radius: 10px;
    border: 4px solid #C57B57;
}
button:hover {
    border: 4px solid #F1AB86;
    cursor: pointer;

}
a {
    cursor: pointer;
    text-decoration: none;
    border: 4px solid #C57B57;

    /* box-shadow: 0 0 20px var(--title-purple); */
    color: var(--title-purple);
    border-color: rgba(117, 40, 117, 0.6);
    background-color: rgba(67, 3, 75, 0.6);

    padding: 2vh;
    border-radius: 2vh;
    font-size: 3vh;
    transition: box-shadow linear 0.2s;
}

a:hover {
    box-shadow: 0 0 20px purple;
}

main {
    display: flex;
}


.turn-highlight {
    color: grey !important;
}


.drop-chip {
    position: relative;
    animation: drop-chip 0.3s linear;
} 
/* gravity: cubic-bezier(0.55, 0.085, 0.68, 0.53) */

@keyframes drop-chip {
    from {opacity: 0;}
    to {opacity: 1;}
}

.bounce-in-top {
	animation: bounce-in-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

.loader {
    border: 4px solid #ccc;
    border-top: 4px solid purple;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* box-shadow: inset 0 0 10px var(--title-purple), 0 0 10px var(--title-purple); */
    animation: spin 1s linear infinite;
    padding: 0 !important;
    margin: 0 auto !important;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.absolute {
    position: absolute;
    left: 50%;
    top: 50%;
}

.lobby-popup {
    /* top: 50%; */
    /* left: 50%; */
    /* margin-top: -100px; */
    /* margin-left: -194px; */
    left: -50%;
    top: -100px;
    padding: 30px;
    border: 4px solid var(--color-dark-green);
    background-color: var(--color-green);
    position: relative;
    z-index: 999;
}

.lobby-popup input {
    border: none;
    /* background-color: gray; */
    text-align: center;
    font-family: "Panton";
}

:fullscreen {
    animation: fullscreen-load 1s ease-in;
}

@keyframes fullscreen-load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.lobby-popup input:active {
    background-color: darkgrey;
}

.name-popup {
    text-align: center;
    color: grey;
    font-size: 20px;
    margin-bottom: 10px;
}

.name-popup p {
    color: lightgray;
}

#name-input {
    font-size: 22px;
    /* height: 6vh; */
}

.loading-popup p {
    font-size: 22px;
    color: lightgray;
}

#music-off {
    cursor: pointer;
    color: purple;
    font-size: 36px;
    transition: text-shadow linear 0.2s;
}
#music-on {
    cursor: pointer;
    color: purple;
    font-size: 36px;
    transition: text-shadow linear 0.2s;
}

#music-off:hover {
    text-shadow: 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
}
#music-on:hover {
    text-shadow: 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
}

#fullscreen-off {
    cursor: pointer;
    color: purple;
    font-size: 36px;
    transition: text-shadow linear 0.2s;
}
#fullscreen-on {
    cursor: pointer;
    color: purple;
    font-size: 36px;
    transition: text-shadow linear 0.2s;
}

#fullscreen-off:hover {
    text-shadow: 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
}
#fullscreen-on:hover {
    text-shadow: 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
}
  
  .small-screen-alert {
    padding: 40px;
    text-align: center;
    display: none;
  }
  
  @media only screen and (max-width: 800px) {
    body {
      background-color: white;
      background-image: none;
    }
    
    main {
      display: none;
    }
  
    .small-screen-alert {
      display: block;
    }
  }

#your-turn::after {
    content: " |";
}

#opponent-turn::before {
    content: "| ";
}

