::root {
    --color-tuscan: #F7DBA7;
    --color-tumbleweed: #F1AB86;
    --color-deer: #C57B57;
    --color-green: #1E2D2F;
    --color-dark-green: #041F1E;
}

img {
    position: absolute;
    width: 50vw;
    bottom: 2vh;
}

h1 {
    font-size: 50px;
    color: #C57B57;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

body {
    background-color: #222;
    margin: 0px;
    height: 100vh;
}

main {
    margin: 0 auto;
    background-color: #1E2D2F;
    border-left: #041F1E 4px solid;
    border-right: #041F1E 4px solid;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 500px;
    height: 100%;
}

input {
    font-size: 20px;
    height: 1.4rem;
    background-color: #aaa;
    color: black;
    border: 1px solid #aaa;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.column {
    flex: 100%;
}

.column div {
    padding-top: 8vh;
    text-align: center;
}

p {
    color: #C57B57;
}

a {
    text-decoration: none;
    background-color: #C57B57;
    color: black;
    padding: 6px;
    border-radius: 10px;
    font-size: 22px;
    border: 4px solid #C57B57;
}

a:hover {
    background-color: #C57B57;
    border: 4px solid #F1AB86;
}

button {
    background-color: #C57B57;
    color: black;
    padding: 6px;
    font-size: 18px;
    border-radius: 10px;
    border: 4px solid #C57B57;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover {
    border: 4px solid #F1AB86;
    cursor: pointer;
}